# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

!/[Aa]ssets/**/*.meta

# Visual studio
.vs/
Generated\ Files/

# meta generated
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.unitypackage
*.meta
!*.*.meta

# Build 
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/